<style>

/********** Base styles **********/

*{
	
	font-family: Helvetica;
	align-content: center;
}

body{
	text-align: center;
}

.sec{
	border: 2px black solid;
	margin: 18px;
	background: lightgray;
	display: inline-block;
	width: 22%;
	height:200px;
}

p{
	padding: 6px;
	text-align: left;
	float: left;
	margin-top: 0px;
	height:200px;
}

.hr{
	float: right;
	border: 2px black solid;
	border-right: none;
	border-top: none;
	padding: 5px;
	box-sizing: border-box;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background: lightpink;
	text-align: center; 
	width: 30%;
}

.b{
	background: lightgreen;
}

.s{
	background: yellow;
}

@media(max-width: 768px){
	.li-1{
		width: 8.33%;
	}
	.li-2{
		width: 16.66%;
	}
	.li-3{
		width: 25%;
	}
	.li-4{
		width: 33%;
	}
	.li-5{
		width: 41.66%;
	}
	.li-6{
		width: 50%;
	}
	.li-7{
		width: 58.33%;
	}
	.li-8{
		width: 66.66%;
	}
	.li-9{
		width: 74.99%;
	}
	.li-10{
		width: 83.33%;
	}
	.li-11{
		width: 91.66%;
	}
	.li-12{
		width: 100%;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.md-1{
		width: 8.33%;
	}
	.md-2{
		width: 16.66%;
	}
	.md-3{
		width: 25%;
	}
	.md-4{
		width: 33%;
	}
	.md-5{
		width: 41.66%;
	}
	.md-6{
		width: 50%;
	}
	.md-7{
		width: 58.33%;
	}
	.md-8{
		width: 66.66%;
	}
	.md-9{
		width: 74.99%;
	}
	.md-10{
		width: 83.33%;
	}
	.md-11{
		width: 91.66%;
	}
	.md-12{
		width: 100%;
	}
}
</style>